<?xml version="1.0"?>
<config>
  <modules>
    <Xpd_Autocoupons>
      <version>1.0.0</version>
    </Xpd_Autocoupons>
  </modules>
  <global>
    <models>
	  <autocoupons>
		<class>Xpd_Autocoupons_Model</class>
	  </autocoupons>
	</models>
    <helpers>
      <autocoupons>
        <class>Xpd_Autocoupons_Helper</class>
      </autocoupons>
    </helpers>
    <blocks>
      <autocoupons>
        <class>Xpd_Autocoupons_Block</class>
      </autocoupons>
    </blocks>
  </global>
  <frontend>
	<routers>
	  <autocoupons>
		<use>standard</use>
		<args>
		  <module>Xpd_Autocoupons</module>
		  <frontName>autocoupons</frontName>
		</args>
	  </autocoupons>
	</routers>
	<layout>
	  <updates>
		<xpd_autocoupons>
		  <file>autocoupons.xml</file>
		</xpd_autocoupons>
	  </updates>
	</layout>
  </frontend>
</config> 